body {
		background-color:grey;
		
}
#grey {
			width:900px;
			height:30px;
			background-color:grey;
			margin:auto;
}
#glowny {
			
			width:900px;
			height:450px;
			background-color:black;
			margin:auto;
}
#lewy {
			background-color:green;
			width:300px;
			height:450px;
			float:left;
}
#tytul {
			
			font-family:'Times New Roman';
			font-style:italic;
			padding-top:5px;
			padding-left:30px;
			color:white;
}
#tytul2 {
			
			font-style:italic;
			width:300px;
			color:white;
			padding-left:70px;
}
#podtytul {
			font-style:bold;
			font-size:20px;
			padding-top:10px;
			padding-left:120px;
			color:white;
}
#prawy {
			float:left;
			
			z-index:1;
}
#menu {
			
			color:white;
			
		}
#menu ul {
			list-style-type:none;
			padding-left:125px;
			
			}

#menu ul li {
			width:130px;
			
			padding-left:0px;
			position:relative;
			
			font-size:20px;
			
			
			}
#menu ul li ul {
			position:absolute;
			display:none;
			left:48px;
			top:10px;
			width:170px;
			
			
}
#menu ul li ul li {
			font-size:15px;
			padding-bottom:10px;
			width:170px;
			background-color:green;
			padding-left:10px;
			padding-top:5px;
			z-index:100;
}
.powrot {
			padding-top:20px;
}

#menu a {
			text-decoration:none;
			color:white;
			
}
#zdjecie {
			display:block;
			position:relative;
			float:right;
			left:0px;
			background-color:red;
}
#zdjecie img {
			position:absolute;
}
#miniaturki_kol1 {
			display:block;
			padding-left:650px;
			padding-top:70px;
			z-index:99;
			
			
			
	}
#miniaturki_kol1 ul {
			list-style-type:none;
}
#miniaturki_kol2 {
			display:block;
			padding-top:70px;
			
			
			
			}
#miniaturki_kol2 ul {
			list-style-type:none;
}
#pow {	
			position:absolute;
			top:490px;
			left:400px;
}
#pow a {
			text-decoration:none;
			color:white;
			font-size:25px;
}